<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zp.mapper.BloggerMapper">

    <!-- 博主查询结果字段与博主类属性之间的映射关系，propertity为类属性，column为表中的字段名 -->
    <resultMap id="BloggerMapping" type="Blogger">
        <id property="id" column="blogger_id" javaType="int"/>
        <result property="name" column="blogger_name"/>
        <result property="password" column="blogger_password"/>
        <result property="profile" column="blogger_profile"/>
        <result property="nickName" column="blogger_nickName"/>
        <result property="signature" column="blogger_signature"/>
        <result property="profilePic" column="blogger_profilePicprofilePic"/>
    </resultMap>

    <select id="findBloggerByName" parameterType="String" resultMap="BloggerMapping">
		select * from tb_blogger where blogger_name=#{name}
	</select>

    <select id="findBlogger" resultMap="BloggerMapping">
		select * from tb_blogger where blogger_id=1;
	</select>

    <update id="update" parameterType="Blogger">
        update tb_blogger
        <set>
            <if test="name != null and name != ''">
                blogger_name=#{name},
            </if>
            <if test="password != null and password != ''">
                blogger_password=#{password},
            </if>
            <if test="nickName != null and nickName != ''">
                blogger_nickName=#{nickName},
            </if>
            <if test="signature != null and signature != ''">
                blogger_signature=#{signature},
            </if>
            <if test="profile != null and profile != ''">
                blogger_profile=#{profile},
            </if>
            <if test="profilePic != null and profilePic != ''">
                blogger_profilePic=#{profilePic},
            </if>
        </set>
        <!-- 此处限定只能修改第一个博主的密码，这是不好的，应该用name匹配 -->
        where blogger_id=1
    </update>

</mapper>